@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0px;
    box-sizing:border-box;
}
nav{
    font-family: 'ubuntu','roboto',sans-serif;

}
nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color:white;
    align-items: center ;
    padding:53px;

}
.brand img{
    width:45px;
     
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items:center;
    font-weight: bolder;
    font-size:1.3rem;

}
.container{
    min-height: 78vh;
    background-color: black;
    color:white;
    font-family: 'ubuntu','roboto',sans-serif;
    display: flex;
    margin: 23px auto;
    width:70%;
    background: 12px;
    padding: 34px;
    background-image: url('https://th.bing.com/th/id/R.f1ae77044a2b9180b77f7572a6b9ec34?rik=RhrAZtLkbKTczA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-HZzNrg-ODS0%2fThXrmUVyZiI%2fAAAAAAAACmk%2fG0EODxL-nLw%2fw1200-h630-p-k-no-nu%2fdde53a7b_3303_Anime_girl_w__headphones.jpg&ehk=3AXJYShTzHgTdas6fMs3xjc9nBwEJ65%2f9JlvtD9tzVo%3d&risl=&pid=ImgRaw&r=0');


}
.bottom{
    position:sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px 0;
}
.icons{
    margin-top:14px;

}
.icons{
    cursor: pointer;
    margin-top: 18px;
}

#myProgressBar{
    width: 81vh;
    text-align: center;
    cursor: pointer;
    
}
.songItem1{
    height: 50px ;
    display: flex;
    background-color: whitesmoke;
    color: black;
    margin: 0 20px;
    padding-left:50px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    margin-top: 19px;
    margin-bottom: 15px;

}
.songItem2{
    height: 50px ;
    display: flex;
    background-color: whitesmoke;
    color: black;
    margin: 0 20px;
    padding-left:50px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    margin-bottom: 15px;
}
.songItem3{
    height: 50px ;
    display: flex;
    background-color: whitesmoke;
    color: black;
    margin: 0 20px;
    padding-left:50px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    margin-bottom: 15px;
}
.songItemContainer{
    margin-top:74px;
}
.songItem1 img{
    width: 48px;
    margin : 0 23px;
    border-radius: 34px;
}
.songItem2 img{
    width: 49px;
    margin : 0 23px;
    border-radius: 34px;
}
.songItem3 img{
    width: 48px;
    margin : 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 30px;
    padding: 5px;
    
}
.timestamp i{
    cursor: pointer;

}
.songInfo{
    position: relative;
    left: 10vw;

}
.songInfo img{
    opacity: 0;
    transition: opacity is ease-in;
}